@model IEnumerable<SolarLab_Test_Prj.Models.Person>
@{
    ViewData["Title"] = "Полный список";
}


<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Дата рождения
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthdayDate)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
